In [37]:
#import streamlit as st
import numpy as np
import pandas as pd
import pickle
import matplotlib.pyplot as plt

area1 = 50
area3_bins = 3
rooms = 2
year = 1980
no_first_no_last = 0
building_type = "кирпич"
district = "Советский район"
data_fill_in = {'rooms': [rooms], 'area1': [area1], 'district': [district], 'building_type': [building_type], 'year': [year], 'no_first_no_last':[no_first_no_last], 'area3_bins':[area3_bins]}
df_in = pd.DataFrame(data_fill_in)

In [38]:
df_in

,rooms,area1,district,building_type,year,no_first_no_last,area3_bins
0,2,50,Советский район,кирпич,1980,0,3

In [39]:
df_in.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   rooms             1 non-null      int64
 1   area1             1 non-null      int64
 2   district          1 non-null      object
 3   building_type     1 non-null      object
 4   year              1 non-null      int64
 5   no_first_no_last  1 non-null      int64
 6   area3_bins        1 non-null      int64
dtypes: int64(5), object(2)
memory usage: 188.0+ bytes

In [40]:
y_pred = int(model.predict(df_in))
y_pred

8304006

In [22]:
model_pkl_file = "apartment_prices_regression_pca.pkl"  

with open(model_pkl_file, 'rb') as file:  
    model = pickle.load(file)

In [13]:
data = pd.read_csv('data/processed/nnapartment_more_info_new_features.csv')
data

,rooms,area1,district,building_type,year,price,no_first_no_last,area3_bins
0,2.0,44.0,Автозаводский район,кирпич,1961.0,4900000,False,1.0
1,2.0,32.0,Советский район,кирпич,1958.0,4000000,False,1.0
2,2.0,45.0,Канавинский район,кирпич,1972.0,4300000,True,1.0
3,1.0,30.8,Канавинский район,кирпич,1965.0,4200000,True,0.0
4,2.0,48.0,Московский район,панель,2016.0,7150000,True,1.0
...,...,...,...,...,...,...,...,...
316,1.0,29.9,Автозаводский район,шлакоблок,1948.0,2999000,False,1.0
317,1.0,44.5,Нижегородский район,блок+утеплитель,2008.0,7450000,True,1.0
318,1.0,31.5,Ленинский район,кирпич,1962.0,4500000,True,0.0
319,1.0,30.9,Московский район,панель,1969.0,3620000,False,0.0
320,2.0,54.4,Нижегородский район,панель,2005.0,9540000,True,1.0

In [14]:
X = data.drop(['price'], axis=1)
y = data.price

In [15]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=.3, random_state=12)

In [18]:
X_test[:1]

,rooms,area1,district,building_type,year,no_first_no_last,area3_bins
1,2.0,32.0,Советский район,кирпич,1958.0,False,1.0

In [17]:
y_pred = int(model.predict(X_test[:1]))
y_pred

5715855

In [ ]:
streamlit run app_begining.py